body{
    background-color: gray;
}
.page{
    
    width: 780px;
    margin: auto;
    font-family: 'source sans pro', calibri, tahoma, sans-serif;
    font-size: 16px;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
    padding: 20px;
    background-color: wheat;
}

.infophoto{
    height: 250px;
}

.info{
    float: left;
}
.photo{
    float: right
}
.sectoin{
    margin-bottom:70px;
    text-align: justify;
}
.section:hover{
    color: #00AA00;
}

.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 40px;
}
h2{
    font-size: 28px;
    color: #3388bb;
    border-bottom: 3px solid #3388bb
}
.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}
.titre{
    font-weight: bold;
    font-size: 20px;
}
#forma-gauche p{
    margin-bottom: 50px;
}
#exp-gauche p{
    margin-top: 25px;
}
#lang-droite-sub p{
    margin-top: 45px;
}
#lang-droite{
    line-height: 20px;
}
#interet-droite{
    margin-top: 35px;
}
strong{
    font-size: 22px;
}
b{
    font-size: 20px;
}
